
:root{--bgColor: #FFFFF7;
--brownBg: rgb(162, 101, 51);
--lightBrown:rgb(193 154 122);
}



.navbarLogo img {
  height: 60px;
}
#navbarNav .nav-link {
  color: white;
  position: relative;
  text-decoration: none;
}

#navbarNav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

#navbarNav .nav-link:hover::after {
  width: 100%;
}
.navbar {
  position: static;
  top: 0;
  z-index: 10; 
}
header {
  position: sticky;
  top: 0;
  z-index: 9;      
}

.hero {
  height: 80vh;
  background: url("../img/slikaproba.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.bgOpacity {
  background-color: rgba(0, 0, 0, 0.8);
}
.hero-content {
  position: relative;
  z-index: 2;
}


.tourCard {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
  
  cursor: pointer;
  height: 100%;
}



.tourCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}


#aboutUs h2 {
  position: relative;
  display: inline-block;
}

#aboutUs h2::after {
  content: "";
  display: block;
  width: 90px;         
  height: 3px;         
  background-color: var(--bgColor);   
  margin: 5px auto 0;
  border-radius: 2px;
}

/* ABOUT US */



#moreAbout {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

#moreAbout.show {
  max-height: 200px; 
  opacity: 1;
}

.scale1{
  
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);


  
}

/* FORMAA */


  .infoCard img {
    height: 30vh;
    object-fit: cover;
  }


    .error-msg {
    color: red;
    font-size: 0.85rem;
  }
  .success-msg {
    color: green;
    font-weight: bold;
  }



#formSection {

  background-color: var(--bgColor);
  color: var(--brownBg);
}

/* autor page */
.author-container {
  text-align: center;
  background-color: var(--bgColor);
  color: var(--brownBg);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 120px); /
}
.author-container img {
  max-width: 400px;
  width: 100%;
  height: auto;

  margin: 0 auto;
}

